#banner {
    background-color: #563667;
    color: #F6EEE3;
    padding: 10px;
    text-align: center;
  }

#banner img {
    border: 5px solid #F6EEE3;
}

#inputDiv {
  text-align: center;
  padding: 10px;
}

#mealButtons {
  text-align: center;
  padding: 10px;
}

#mealForm {
  text-align: center;
  padding: 10px;
}