#banner {
    background-color: #563667;
    color: #F6EEE3;
    padding: 10px;
    text-align: center;
  }

#banner img {
    border: 5px solid #F6EEE3;
}

#inputDiv {
  border: 2px solid #000;
  padding: 10px;
}

#mealDiv {
  border: 2px solid #000;
  padding: 10px;
}